{% include blog/tag_computer.html %}

<div class="container-fluid sidebar">
	<h2>博客</h2>
	<ul class="list-unstyled">
		<li><h3><a href="{{ site.blogbaseurl }}/">最近文章</a></h3></li>
	</ul>
	
	<h2>所有分类</h2>
	<ul class="list-unstyled">
		{% for category in site.data.categories %}
			<li><h3><a href="{{ category.url }}">{{ category.title }}</a></h3></li>
		{% endfor %}
	</ul>
	
	{%if include.tags %}
    <h2>相关博文</h2>

    {% for include_tag in include.tags %}
		{% assign counter = '0' %}
		{% for p in site.posts %}

			{% for known_tag in site.data.tags %}
				{% if include_tag == known_tag.slug %}
					{% if p.tags contains include_tag and counter < '3' and p.title != include.title %}
						{% capture counter %}{{ counter | plus:'1' }}{% endcapture %}
						{% if counter == '1' %}
							<div style="margin-bottom: 5px; padding-bottom: 10px; border-bottom: 1px solid #C5DAE8;">
								<i class="fa fa-tag"></i>
								<a href="/blog/tag/{{ known_tag.slug }}/">
									<span class="tag padded-sm img-rounded margin-sm-right">
										{{ known_tag.name }}
									</span>
								</a>
							</div>
						{% endif %}
						<div class="clearfix">
							<h3>
								<a href="{{ p.url }}" title="{{ p.title }}">
									{{ p.title }}
								</a>
							</h3>
							{% if p.feature-image %}
							<img src="{{ site.images }}/{{ p.feature-image }}" class="feature-image-small pull-left">
							{% endif %}
							<div>
								{{ p.excerpt | strip_html | truncatewords: 15 }}
							</div>
						</div>
					{% endif %}
					{% break %}
				{% endif %}
			{% endfor %}

			
		{% endfor %}
		<p></p>
	{% endfor %}
	{% endif %}
</div>