---
layout: default
---
{% include header.html %}
<!-- Main -->
<div id="main">
	{% if page.content != '' %}
		{% include section.html title=page.title photo=page.cover-photo photo-alt=page.cover-photo-alt auto-header=page.auto-header content=page.content %}
	{% endif %}

	{% assign _sections = site.sections | where:'title','Intro' %}
	{% assign _intro = _sections[0] %}
	{% include section.html title=_intro.title photo=_intro.cover-photo photo-alt=_intro.cover-photo-alt auto-header=_intro.auto-header content=_intro.content %}
	
	<!-- 最近十篇博文 -->
	{% for _post in site.posts limit: 10 %}
		{% capture _title %}
			<a href="{{ _post.url | absolute_url }}">{% if _post.tags contains 'reblog' %}[转载]{% endif %}{{ _post.title }}</a>
		{% endcapture %}
		{% capture _subtitle %}
			{% if _post.author %}{{ _post.author }} | {% endif %}
			{{ _post.date | date: '%Y-%m-%d' }}
		{% endcapture %}
		{% capture _excerpt %}<p>{{ _post.excerpt | strip_html | truncatewords: 100 }}</p>{% endcapture %}
		{% capture _link %}<a href="{{ _post.url | absolute_url }}">read more</a>{% endcapture %}
		{% assign _content = _excerpt | append: _link %}
		{% include section.html title=_title subtitle=_subtitle content=_content %}
	{% endfor %}
</div>