---
layout: blog
comments: true
---

{% include blog/tag_computer.html %}
<article class="row">
	<div class="col-md-8">
		<div class="post">
			<h1>{{ page.title }}</h1>
			{% if page.subtitle %}
			  <h2>{{ page.subtitle }}</h2>
			{% endif %}
			
			<div class="tags">
				<span class="post-date">{{ page.date | date: "%Y-%m-%d" }} | {{ page.author | default: site.metatheme.author }}&nbsp;&nbsp;</span>
				{{ tags_content }}
			</div>

			<article>
				{% if page.feature-image %}
					<img src="{{ site.images }}/{{ page.feature-image }}" class="pull-right margin-left">
				{% endif %}

				{{ content }}
			</article>
			
			<div class="well clearfix">
				<div class="row">
					<div class="col-xs-6">
						{% include share_buttons.html %}
					</div>
					<div class="col-xs-6"><p class="pull-right">Posted @ {{ page.date | date: "%Y-%m-%d" }} by {{ page.author | default: site.metatheme.author }}</p></div>
				</div>
				{% include blog/post_navigation.html title=page.title %}
			</div>
			
			{% if page.enable_comments %}
			<div class="comments">
				<!-- comment -->
				{% include blog/comment.html %}
			</div>
			{% endif %}
		</div> 	 
	</div>
	<div class="col-md-4">
	  {% include blog/navbar.html tags=page.tags title=page.title %}
	 </div> 
</article>

<script>
	$(function () {
		$('.post table').addClass('table');
	});
</script>
